{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "extends": [
    "tslint:latest",
    "tslint-config-prettier"
  ]
}