div.navbar-container {
    background-color: #8A5F2D;
    color: #f5f6f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.75em;
}

div.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
}

div.search-bar-container form input {
    background-color: #f5f6f851;
    color: #f5f6f8;
    border: none;
    margin-left: .5em;
}

div.search-bar-container form input::placeholder {
    color: #f5f6f8;
}