
html, body {
  background-color: #242A3C;
  background-image: url('./diagmonds.png');
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bordered {
  padding: 4px 2px 2px 4px;
  border-right: #242A3C 1px solid;
  border-bottom: #242A3C 1px solid;
}

.focusable:focus {
  outline: none;
  border-right: #242A3C 1px solid;
  border-bottom: #242A3C 1px solid;
}

.stop-focus:focus {
  outline: none;
}

.tool-tip {
  background-color: orange;
  border: 2px black solid;
  
}