
html, body {
  background-color: #242A3C;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bordered {
  border-right: #8A5F2D 2px solid;
  border-bottom: #8A5F2D 2px solid;
}